* {
    padding: 0;
    margin: 0;
}
.big-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.image-container {
    min-width: 48rem;
    flex:  1 0 100%;
}
button {
    width: 2rem;
    height: 30%;
    font-size: 3rem;
    border-radius: 10px;
}
.slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
div#dot-container {
    display: flex;
    gap: 3px
}
li {
    color: black;
    list-style: circle;
}
